In [42]:
import mysql.connector

def get_connection():
    connection = mysql.connector.connect(host='localhost',
                                         database='MASTERCHEF',
                                         user='root',
                                         password='Monish@16')
    return connection

def close_connection(connection):
    if connection:
        connection.close()

def read_database_version():
    try:
        connection = get_connection()
        #cursor = connection.cursor()
        #cursor.execute("SELECT * FROM INGREDIENTS;")
        #cursor.execute("SELECT version();")
        #db_version = cursor.fetchone()
        #print("You are connected to MySQL version: ", db_version)
        #cur = conn. cursor ()
        cur = connection.cursor()
        sql = "SELECT * FROM INGREDIENTS;"
        cur.execute(sql)
        Records = cur.fetchall()
        print(Records)
        
        sql_insert_query = "INSERT INTO INGREDIENTS (INGRI_ID, INGRI_NAME) VALUES (%s, %s)"
           
        data = (34, 'COFFEE-CAKE2')
        #raise  IntegrityError("REMOVE DUPLICATE")
        cur.execute(sql_insert_query, data)
        connection.commit()
        
        print(f"Record inserted successfully into INGREDIENTS table: {data}")
        
        
        
        close_connection(connection)
        #mysql.connector.Error
    except (Exception,mysql.connector.Error ) as Error:
        print("Error while getting data", Error)
        
        print(str(Error()))

        print(str(Error("Oops! There was an error.")))

        print(str(Error(errno=2006)))

        print(str(Error(errno=2002, values=('/tmp/mysql.sock', 2))))

        print(str(Error(errno=1146, sqlstate='42S02', msg="Table 'test.spam' doesn't exist")))

print("Question 2: INSERTING INTO PRIMARY KEY TABLE")
read_database_version()

Question 2: INSERTING INTO PRIMARY KEY TABLE
[(21, 'Masala'), (22, 'Onion'), (23, 'Maggie'), (24, 'Pizza'), (25, 'Coffee'), (26, 'Salt'), (27, 'Sugar'), (28, 'Veggies'), (29, 'Fruits'), (30, 'Knife'), (31, 'Chai-Biscuit'), (32, 'Chai-Cake'), (33, 'COFFEE-CAKE'), (34, 'COFFEE-CAKE2')]
Error while getting data 1062 (23000): Duplicate entry '34' for key 'ingredients.PRIMARY'

TypeError: 'IntegrityError' object is not callable