In [16]:
"""
Q1
"""
class Airplane:
    def __init__(self, flt_reg_num, flt_model, flt_cap):
        self.flt_reg_num = flt_reg_num
        self.flt_model = flt_model
        self.flt_cap = flt_cap


class Flight(Airplane):
    def __init__(self, flt_reg_num, flt_model, flt_cap,
                 flt_number, from_loc, to_loc, dept_date, dept_time, arrival_date,arrival_time):
        super().__init__(flt_reg_num, flt_model, flt_cap)
        self.flt_number = flt_number
        self.from_loc = from_loc
        self.to_loc = to_loc
        self. dept_date =  dept_date
        self.dept_time = dept_time
        self.arrival_date = arrival_date
        self.arrival_time = arrival_time


class Presenter(Flight):
    def __init__(self, flt_reg_num, flt_model, flt_cap,
                 flt_number, from_loc, to_loc, dept_date, dept_time, arrival_date,arrival_time,
                 pass_name, pass_email, contact ):
        super().__init__(flt_reg_num, flt_model, flt_cap, flt_number, 
                         from_loc, to_loc, dept_date, dept_time, arrival_date, arrival_time)
        self.pass_name = pass_name
        self.pass_email = pass_email
        self.contact = contact


class Ticket(Presenter):
    def __init__(self, flt_reg_num, flt_model, flt_cap,
                 flt_number, from_loc,to_loc, dept_date, dept_time, arrival_date,arrival_time,
                 pass_name, pass_email, contact):
        super().__init__(flt_reg_num, flt_model, flt_cap, flt_number, 
                         from_loc, to_loc, dept_date, dept_time, arrival_date,arrival_time,
                         pass_name, pass_email, contact)

    def show_details(self):
        print(f"Fare: 5000, PRNNO: {self.flt_reg_num}, Status: Confirmed")
        print(f"Flight: {self.flt_model}, Flight No.: {self.flt_number}, PRN-NO: {self.flt_reg_num}")
        print(f"Passenger Name: {self.pass_name}, From: {self.from_loc}, To: {self.to_loc}, "
              f"Ticket Status: Confirmed, Departure Date: {self.dept_date}, Departure Time: {self.dept_time}, "
              f"Arrival Date: {self.arrival_date}, Arrival Time: {self.arrival_time}")



#ticket = Ticket("ER23455", "Indigo", 180, "6E1011", "Chennai", "Pune", "30-10-2024", "10.00 am", "30-10-2024", "Monish Nule", "mnule1@gmail.com","8888015913")

ticket = Ticket("ER23455", "Indigo", 180, "6E1011", "Chennai", "Pune", "30-10-2024", "10.00 am", "30-10-2024", "2pm",
                "Monish Nule", "mnule1@gmail.com", 8888015913)

ticket.show_details()

Fare: 5000, PRNNO: ER23455, Status: Confirmed
Flight: Indigo, Flight No.: 6E1011, PRN-NO: ER23455
Passenger Name: Monish Nule, From: Chennai, To: Pune, Ticket Status: Confirmed, Departure Date: 30-10-2024, Departure Time: 10.00 am, Arrival Date: 30-10-2024, Arrival Time: 2pm

In [17]:
"""
Q 2

"""
def check_Even(n):
    assert  n % 2 == 0, "The number must be Even Number!"
    return f"{n} is a Even number."

try:
    result = check_Even(-5) 
except AssertionError as e:
    print(f"AssertionError: {e}")


try:
    result = check_Even(10)
    print(result) 
except AssertionError as e:
    print(f"AssertionError: {e}")

AssertionError: The number must be Even Number!
10 is a Even number.

In [24]:
"""
Q 3

"""

numbers = [5, 55, -33, -67, 87, 99, -100, 30, -92.88, -643]


negative_numbers = list(filter(lambda x: x < 0 , numbers))
Negative_Even = list(filter(lambda x: x < 0 and x % 2 == 0, numbers))
Negative_Odd = list(filter(lambda x: x < 0 and x % 2 != 0, numbers))
print("Negative numbers from the list:", negative_numbers)
print()
print("\nNegative Even Numbers : ",Negative_Even)
print()
print("\nNegative Odd Numbers : ",Negative_Odd)

Negative numbers from the list: [-33, -67, -100, -92.88, -643]


Negative Even Numbers :  [-100]


Negative Odd Numbers :  [-33, -67, -92.88, -643]

In [37]:
"""
q 4

"""
import pandas as pd

data = {
    'CheeseType': ['Cheddar', 'Brie', 'Gouda', 'Mozzarella', 'Parmesan'],
    'MoisturePercent': [34.0, None, 48.0, 60.0, None]
}

cheese_data = pd.DataFrame(data)

print("Original Cheese Data:")
print(cheese_data)

missing_data = cheese_data.isnull().sum()
print("\nMissing data in each column:")
print(missing_data)
#cheese_data['MoisturePercent']  = cheese_data['MoisturePercent'].mean()
mean_moisture = cheese_data['MoisturePercent'].mean()

cheese_data['MoisturePercent'].fillna(mean_moisture, inplace=True)

print("\nCleaned Cheese Data (with missing values replaced):")
print(cheese_data)

Original Cheese Data:
   CheeseType  MoisturePercent
0     Cheddar             34.0
1        Brie              NaN
2       Gouda             48.0
3  Mozzarella             60.0
4    Parmesan              NaN

Missing data in each column:
CheeseType         0
MoisturePercent    2
dtype: int64

Cleaned Cheese Data (with missing values replaced):
   CheeseType  MoisturePercent
0     Cheddar        34.000000
1        Brie        47.333333
2       Gouda        48.000000
3  Mozzarella        60.000000
4    Parmesan        47.333333

/var/folders/mq/cnsvvmjs121f7wclbf4fynwc0000gn/T/ipykernel_1369/1790470576.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cheese_data['MoisturePercent'].fillna(mean_moisture, inplace=True)

In [38]:
"""
Q 5

"""
import re


txt = 'He@#^& is) ( earning$# 198370 per month'


result = re.findall(r'[A-Za-z0-9]', txt)


cleaned_result = ''.join(result)


print("Characters and digits only:", cleaned_result)

['H', 'e', 'i', 's', 'e', 'a', 'r', 'n', 'i', 'n', 'g', '1', '9', '8', '3', '7', '0', 'p', 'e', 'r', 'm', 'o', 'n', 't', 'h']
Characters and digits only: Heisearning198370permonth

In [42]:
"""
Q 6

"""
import mysql.connector
from mysql.connector import Error

def create_connection(host_name, user_name, user_password, db_name):
    """ Create a database connection to the MySQL database """
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

def execute_read_query(connection, query):
    """ Execute read query and return results """
    cursor = connection.cursor()
    cursor.execute(query)
    return cursor.fetchall()


host = 'localhost' 
user = 'root'  
password = 'Monish@16'  
database = 'empdb'


connection = create_connection(host, user, password, database)

create_employee_table_query = "CREATE TABLE employeeTest (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(100) NOT NULL, department VARCHAR(50) NOT NULL)"
execute_query(connection, create_employee_table_query)


insert_employee_query = "INSERT INTO employeeTest (name, department) VALUES ('John Doe', 'IT')"
execute_query(connection, insert_employee_query)


duplicate_insert_query = "INSERT INTO employeeTest (name, department) VALUES ('John Doe', 'IT')"
execute_query(connection, duplicate_insert_query)  


select_it_employees_query = "SELECT * FROM employeeTest WHERE department = 'IT'"
it_employees = execute_read_query(connection, select_it_employees_query)


print("\nEmployees in IT Department:")
for emp in it_employees:
    print(emp)


if connection:
    connection.close()

Connection to MySQL DB successful
The error '1050 (42S01): Table 'employeetest' already exists' occurred
Query executed successfully
Query executed successfully

Employees in IT Department:
(1, 'John Doe', 'IT')
(2, 'John Doe', 'IT')
(3, 'John Doe', 'IT')
(4, 'John Doe', 'IT')
(5, 'John Doe', 'IT')
(6, 'John Doe', 'IT')
(7, 'John Doe', 'IT')
(8, 'John Doe', 'IT')
(9, 'John Doe', 'IT')